<div *ngIf="exercicios;else carregando">
  <span>{{tipoQuestao.descricao}}</span>
  <hr>

  <div *ngIf="indiceExercicioAtual < qtdExercicios - 1">
    <span>Exercício {{indiceExercicioAtual + 1}} de {{qtdExercicios}}</span>
    <hr>
    <span>{{exercicios[indiceExercicioAtual].enunciado}}</span>
    <hr>
    <div *ngFor="let resposta of exercicios[indiceExercicioAtual].respostas; let i = index">
      <a (click)="selecionarResposta(i)" class="btn btn-primary">{{resposta}}</a>
    </div>
  </div>
</div>
<hr>
<span>Pontos: {{pontos}}</span>

<ng-template #carregando>Carregando...</ng-template>
