<div *ngIf="exercicios;else carregando">
  <header class="jumbotron my-4">
    <h2 class="display-3">{{tipoQuestao.descricao}}</h2>
    <div *ngIf="indiceExercicioAtual < qtdExercicios">
      <p>
        <progressbar value="{{getPercentualCompleto()}}"></progressbar>
      </p>
      <h1 class="display-3" style="text-align: center;">{{exercicios[indiceExercicioAtual].enunciado}}</h1>
    </div>
  </header>
  <div *ngIf="indiceExercicioAtual < qtdExercicios" class="row">
    <p *ngFor="let resposta of exercicios[indiceExercicioAtual].respostas; let i = index" class="col-md-6 mb-8">
      <!-- <a (click)="selecionarResposta(i)" class="btn btn-primary btn-large btn-block">{{resposta}}</a> -->
      <a (click)="selecionarResposta(i)" class="btn btn-primary btn-lg btn-block">{{resposta}}</a>
    </p>
  </div>
  <div *ngIf="indiceExercicioAtual >= qtdExercicios" class="row">
    <alert type="success">
      <h4 class="alert-heading">Parabéns!</h4>
      <p>Você conseguiu concluir a série de exercícios sem nenhum erro!</p>
    </alert>
    <p class="col-md-6 mb-8">
      <a (click)="gerarExercicios()" class="btn btn-primary">Refazer</a>
      <a [routerLink]="['/home']" class="btn btn-info">Início</a>
    </p>
  </div>
</div>

<ng-template #carregando>Carregando...</ng-template>
