<a class="navbar-brand" [routerLink]="['/home']">
  Início
</a>
<div *ngIf="exercicios;else carregando">
  <header class="jumbotron">
    <h3>{{tipoQuestao.descricao}}</h3>
    <div *ngIf="indiceExercicioAtual < qtdExercicios">
      <div [ngSwitch]="exercicios[indiceExercicioAtual].enunciado.tipo" class="row">
        <template [ngSwitchCase]="'3099151367'"> <!-- LISTA_DE_IMAGENS -->
          <div *ngFor="let img of exercicios[indiceExercicioAtual].enunciado.conteudo">
            <img class="col-xs-2 col-md-1" [src]="'/assets/images/' + img" />
          </div>
        </template>
        <template ngSwitchDefault>
          <h2 style="text-align: center;">{{exercicios[indiceExercicioAtual].enunciado.conteudo}}</h2>
        </template>
      </div>
      <p>
        <progressbar value="{{getPercentualCompleto()}}"></progressbar>
      </p>
    </div>
  </header>
  <div *ngIf="indiceExercicioAtual < qtdExercicios" class="row">
    <p *ngFor="let resposta of exercicios[indiceExercicioAtual].respostas; let i = index" class="col-xs-6">
      <a (click)="selecionarResposta(i)" class="btn btn-primary btn-sq-lg btn-lg btn-block" style="padding: 60px">
        <div [ngSwitch]="tipoQuestao.tipo">
          <template ngSwitchDefault>
            {{resposta}}
          </template>
        </div>
      </a>
    </p>
  </div>
  <div *ngIf="indiceExercicioAtual >= qtdExercicios" class="row">
    <alert type="success">
      <h4 class="alert-heading">Parabéns!</h4>
      <p>Você conseguiu concluir a série de exercícios sem nenhum erro!</p>
    </alert>
    <p class="text-center">
      <a (click)="gerarExercicios()" class="btn btn-primary">Refazer</a>
      <a [routerLink]="['/home']" class="btn btn-info">Início</a>
    </p>
  </div>
</div>

<ng-template #carregando>Carregando...</ng-template>
