<div class="col-lg-3 col-md-6 mb-4">
  <div class="card">
    <!--
      <img class="card-img-top" src="http://placehold.it/500x325" alt="">
      -->
    <div class="card-body">
      <h4 class="card-title">{{ano.titulo}}</h4>
      <p class="card-text">{{ano.descricao}}</p>
    </div>
    <div class="card-footer">
      <div *ngFor="let tipoQuestao of ano.tiposQuestoes">
        <a (click)="selecionarTipo(tipoQuestao)" class="btn btn-primary">{{tipoQuestao.descricao}}</a>
      </div>
    </div>
  </div>
</div>
